{% extends 'admin/index.html.twig' %}

{% block title %}Books{% endblock %}

{% block manage_content %}
    {% for error in app.flashes('error') %}
        <div class="alert alert-error alert-soft mb-10">{{ error }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-soft mb-10">{{ message }}</div>
    {% endfor %}

    <h1 class="text-2xl mb-5">Books</h1>

    <a class="" href="{{ path('app_admin_books_add') }}">
        <button class="btn btn-primary">Add new book</button>
    </a>

    {% include 'components/_books_table.html.twig'
        with {'books': books, 'show_admin_actions': true, 'show_user_actions': false} %}
{% endblock %}
