
{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-2/4 mx-auto flex items-center justify-center">
        <p>
            A confirmation link has been sent at the provided email <br><br>
            Confirm your email to be able to access all features
        </p>
    </div>
{% endblock %}
