{% extends 'admin/index.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block manage_content %}
    {% for error in app.flashes('error') %}
        <div class="alert alert-error alert-soft mb-10">{{ error }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-soft mb-10">{{ message }}</div>
    {% endfor %}

    <h1 class="text-2xl mb-5">Bookings</h1>

    {% include 'components/_booking_table.html.twig'
        with { 'bookings': bookings } %}

{% endblock %}
