<h1>You requested a password change</h1>

<p>
    Please reset your password by accessing the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Reset my password</a>.
    This link will expire in 1 day. <br><br>

    If you did not request a password change, we recommend changing your password immediately.
</p>

<p>
    Cheers!
</p>
